[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=harbour-flood-java
Exec=harbour-flood-java
Name=Flood to Java
# translation example:
# your app name in German locale (de)
#
# Remember to comment out the following line, if you do not want to use
# a different app name in German locale (de).
#Name[de]=flood-java

[X-Sailjail]
# Replace with your organization as a reverse domain name
OrganizationName=com.github.thigg
# ApplicationName does not have to be identical to Name
ApplicationName=harbour-flood-java
# Add the required permissions here
Permissions=
